<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Statement Checker</h5>
                <p>A platform for fact-checking and verifying statements with AI assistance.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-decoration-none">Home</a></li>
                    <li><a href="/statement_checker" class="text-decoration-none">Statement Checker</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Account</h5>
                <ul class="list-unstyled">
                    <li><a href="/login" class="text-decoration-none">Login</a></li>
                    <li><a href="/register" class="text-decoration-none">Register</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <small>&copy; 2024 Statement Checker. All rights reserved.</small>
        </div>
    </div>
</div>
